body {
    margin: 0;
    padding: 0;
}

.animation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@keyframes rotate {
    to {transform: rotate(270deg)}
}

@keyframes fadeIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.background {
    position: absolute;
    height: 3000px;
    width: 5px;
    background-color: #555;
    opacity: 10%;
}

#b1 {
    bottom: -850px;
    left: 50px;
    animation: rotate 125s ease-in-out -25s infinite alternate;
}

#b2 {
    bottom: -1050px;
    right: 100px;
    animation: rotate 125s ease-in-out -40s infinite alternate-reverse;
}

#b3 {
    bottom: -1350px;
    right: 350px;
    animation: rotate 125s ease-in-out -50s infinite alternate;
}

.title {
    animation-name: fadeIn;
    animation-duration: 3s;
}

.description-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    left: -375px;
    height: 100vh;
    width: 400px;
    background-color: transparent;
    transition: transform 2s;
}

.description-wrapper#dw-left:hover {
    transform: translateX(375px);
}

.description {
    position: absolute;
    height: 100%;
    width: 300px;
    padding: 5 10 5 22;
    background-color: #E7E7E7;
    border-style: groove;
    overflow: auto;
}

.top-gradient {
    position: absolute;
    height: 75px;
    width: 337px;
    background-image: linear-gradient(#E7E7E7, #E7E7E7, transparent);
}

.bottom-gradient {
    position: absolute;
    bottom: 0;
    height: 75px;
    width: 337px;
    background-image: linear-gradient(transparent, #E7E7E7, #E7E7E7);
}
